bin/*
ost
releases
screenshots
*.db
/.Rhistory
/.directory
*.o
src/*.o
*.elf
*.exe
*.zip
*.deb
*.res
*.cfg
src/err.txt
nkaruga-debian/opt/nkaruga/sfx
nkaruga-debian/opt/nkaruga/*.elf
buildscript/*.tar.gz
buildscript/final
release
release/*.deb
release/*.zip