bin/*
ost
releases
screenshots
*.db
/.Rhistory
/.directory
*.o
src/*.o
*.elf
*.exe
*.zip
*.deb
*.res
*.cfg
src/*.sh
src/err.txt
nkaruga-debian/opt/nkaruga/sfx
nkaruga-debian/opt/nkaruga/*.elf
nkaruga-debian/opt/nkaruga/gfx
buildscript/*.tar.gz
buildscript/*.tar.xz
buildscript/libs
buildscript/SDL2-2.0.5
buildscript/SDL2_image-2.0.1
buildscript/SDL2_mixer-2.0.1
buildscript/libvorbis-1.3.5
buildscript/libogg-1.3.2
release
release/*.deb
release/*.zip
release/*.opk
n2dlib/SDL2/*.o
n2dlib/SDL12/*.o
opk/sfx
opk/gfx
opk/*.elf
*.opk