[Desktop Entry]
Type=Application
Name=nKaruga
Comment=Shoot-them up clone
Exec=nKaruga.elf
Icon=icon
Terminal=false
Categories=games;
X-OD-NeedsDownscaling=false
